<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="it@istokmw.ru" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdN3drbnxHUSanpHRrHkkfwAAAAACAAAAAAADZgAAwAAAABAAAAC9tHvc2wCU0jZ3Ifzh4CyDAAAAAASAAACgAAAAEAAAALgj78qMOpAhN2MEShvj4XsQAAAANB7/g2ulG9n670BQkMcfvRQAAACUbKo1Yr64XL8AWCrYvfBkFWgAsw==" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>